<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>#血流/X1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{1396,1374},{33,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#血流/X2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,37}</string>
                <key>spriteSourceSize</key>
                <string>{33,37}</string>
                <key>textureRect</key>
                <string>{{1396,1409},{33,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#血流/effect_a5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{199,218}</string>
                <key>spriteSourceSize</key>
                <string>{201,218}</string>
                <key>textureRect</key>
                <string>{{1829,820},{199,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>#血流/effect_b16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-72}</string>
                <key>spriteSize</key>
                <string>{217,93}</string>
                <key>spriteSourceSize</key>
                <string>{287,259}</string>
                <key>textureRect</key>
                <string>{{1185,1953},{217,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>#血流/glass_c1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,59}</string>
                <key>spriteSourceSize</key>
                <string>{310,59}</string>
                <key>textureRect</key>
                <string>{{575,1988},{310,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{923,487}</string>
                <key>spriteSourceSize</key>
                <string>{923,487}</string>
                <key>textureRect</key>
                <string>{{1,1445},{923,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>倒计时/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,32}</string>
                <key>spriteSourceSize</key>
                <string>{24,32}</string>
                <key>textureRect</key>
                <string>{{1404,1953},{24,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>分享/subtitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,37}</string>
                <key>spriteSourceSize</key>
                <string>{150,37}</string>
                <key>textureRect</key>
                <string>{{1896,1906},{150,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>反馈/反馈-按下.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,51}</string>
                <key>spriteSourceSize</key>
                <string>{408,51}</string>
                <key>textureRect</key>
                <string>{{1435,1935},{408,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吃碰杠/提示牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,142}</string>
                <key>spriteSourceSize</key>
                <string>{134,142}</string>
                <key>textureRect</key>
                <string>{{1901,1231},{134,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>吃碰杠/杠特效1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,5}</string>
                <key>spriteSize</key>
                <string>{193,125}</string>
                <key>spriteSourceSize</key>
                <string>{241,135}</string>
                <key>textureRect</key>
                <string>{{1829,1021},{193,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吃碰杠/碰特效1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{146,81}</string>
                <key>spriteSourceSize</key>
                <string>{336,249}</string>
                <key>textureRect</key>
                <string>{{1901,1148},{146,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>吃碰杠/自摸特效2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-60,-28}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{306,192}</string>
                <key>textureRect</key>
                <string>{{1869,1945},{138,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>商城/shop_special_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{616,211}</string>
                <key>spriteSourceSize</key>
                <string>{616,211}</string>
                <key>textureRect</key>
                <string>{{1283,1161},{616,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>房间入口-推倒胡.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,149}</string>
                <key>spriteSourceSize</key>
                <string>{334,149}</string>
                <key>textureRect</key>
                <string>{{1896,1570},{334,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>排行榜-创建好友房标题.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,31}</string>
                <key>spriteSourceSize</key>
                <string>{148,31}</string>
                <key>textureRect</key>
                <string>{{355,2016},{148,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>排行榜-底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,459}</string>
                <key>spriteSourceSize</key>
                <string>{363,459}</string>
                <key>textureRect</key>
                <string>{{1435,1570},{363,459}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>游戏更新/提示.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,48}</string>
                <key>spriteSourceSize</key>
                <string>{111,48}</string>
                <key>textureRect</key>
                <string>{{774,1934},{111,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌局结束/a4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{505,2016},{59,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩家信息/base_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,51}</string>
                <key>spriteSourceSize</key>
                <string>{296,51}</string>
                <key>textureRect</key>
                <string>{{1404,1988},{296,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩家信息/base_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,83}</string>
                <key>spriteSourceSize</key>
                <string>{296,83}</string>
                <key>textureRect</key>
                <string>{{887,1953},{296,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>用户栏-文字/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{9,18}</string>
                <key>spriteSourceSize</key>
                <string>{17,22}</string>
                <key>textureRect</key>
                <string>{{887,2038},{9,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>用户栏-文字/房卡：.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,22}</string>
                <key>spriteSourceSize</key>
                <string>{51,22}</string>
                <key>textureRect</key>
                <string>{{1845,1935},{51,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>电量时间wifi/wifi-拷贝.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,19}</string>
                <key>spriteSourceSize</key>
                <string>{17,19}</string>
                <key>textureRect</key>
                <string>{{887,1934},{17,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>电量时间wifi/wifi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,23}</string>
                <key>spriteSourceSize</key>
                <string>{27,23}</string>
                <key>textureRect</key>
                <string>{{2024,1021},{27,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>系统公告/free_event.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{612,194}</string>
                <key>spriteSourceSize</key>
                <string>{628,194}</string>
                <key>textureRect</key>
                <string>{{1435,1374},{612,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>结算/a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,38}</string>
                <key>spriteSourceSize</key>
                <string>{92,38}</string>
                <key>textureRect</key>
                <string>{{2009,1945},{92,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>结算/base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1158,544}</string>
                <key>spriteSourceSize</key>
                <string>{1158,544}</string>
                <key>textureRect</key>
                <string>{{1283,1},{1158,544}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>聊天/dialog1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,27}</string>
                <key>spriteSourceSize</key>
                <string>{352,27}</string>
                <key>textureRect</key>
                <string>{{1,2016},{352,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>聊天/dialog11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,26}</string>
                <key>spriteSourceSize</key>
                <string>{244,26}</string>
                <key>textureRect</key>
                <string>{{2021,328},{244,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>聊天/dialog4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,26}</string>
                <key>spriteSourceSize</key>
                <string>{325,26}</string>
                <key>textureRect</key>
                <string>{{2021,1},{325,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>聊天/dialog9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,26}</string>
                <key>spriteSourceSize</key>
                <string>{244,26}</string>
                <key>textureRect</key>
                <string>{{2021,574},{244,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>背景/背景可随意拉伸铺满.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景/龙纹居中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,506}</string>
                <key>spriteSourceSize</key>
                <string>{507,506}</string>
                <key>textureRect</key>
                <string>{{926,1445},{507,506}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>背景1.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>设置/off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,57}</string>
                <key>spriteSourceSize</key>
                <string>{165,57}</string>
                <key>textureRect</key>
                <string>{{1702,1988},{165,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>跑马灯-底.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,41}</string>
                <key>spriteSourceSize</key>
                <string>{771,41}</string>
                <key>textureRect</key>
                <string>{{1,1934},{771,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>邮件/content2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,37}</string>
                <key>spriteSourceSize</key>
                <string>{572,37}</string>
                <key>textureRect</key>
                <string>{{1,1977},{572,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>邮件/mail_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{803,190}</string>
                <key>spriteSourceSize</key>
                <string>{803,190}</string>
                <key>textureRect</key>
                <string>{{1829,1},{803,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>麻将牌/牌面/suo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{69,111}</string>
                <key>spriteSourceSize</key>
                <string>{79,111}</string>
                <key>textureRect</key>
                <string>{{1283,1374},{69,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi-0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3a6238b04bb54fe875fb6c9eac12c5f:0ecb26095508b702f83414cef40a9500:1a15d61e035d4e01a609d5f3855511b3$</string>
            <key>textureFileName</key>
            <string>beimi-0.png</string>
        </dict>
    </dict>
</plist>
