<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LOGO2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,168}</string>
                <key>spriteSourceSize</key>
                <string>{441,168}</string>
                <key>textureRect</key>
                <string>{{1,1819},{441,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>account.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,35}</string>
                <key>spriteSourceSize</key>
                <string>{114,35}</string>
                <key>textureRect</key>
                <string>{{436,1782},{114,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>alert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{517,284}</string>
                <key>spriteSourceSize</key>
                <string>{517,284}</string>
                <key>textureRect</key>
                <string>{{635,1},{517,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>banker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,36}</string>
                <key>spriteSourceSize</key>
                <string>{252,36}</string>
                <key>textureRect</key>
                <string>{{981,836},{252,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1162,632}</string>
                <key>spriteSourceSize</key>
                <string>{1162,632}</string>
                <key>textureRect</key>
                <string>{{1,1},{1162,632}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guestbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,30}</string>
                <key>spriteSourceSize</key>
                <string>{120,30}</string>
                <key>textureRect</key>
                <string>{{979,1386},{120,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,65}</string>
                <key>spriteSourceSize</key>
                <string>{267,65}</string>
                <key>textureRect</key>
                <string>{{914,836},{267,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,44}</string>
                <key>spriteSourceSize</key>
                <string>{148,44}</string>
                <key>textureRect</key>
                <string>{{941,1105},{148,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loginbtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,28}</string>
                <key>spriteSourceSize</key>
                <string>{69,28}</string>
                <key>textureRect</key>
                <string>{{728,1914},{69,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,90}</string>
                <key>spriteSourceSize</key>
                <string>{308,90}</string>
                <key>textureRect</key>
                <string>{{914,526},{308,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>myself.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,31}</string>
                <key>spriteSourceSize</key>
                <string>{87,31}</string>
                <key>textureRect</key>
                <string>{{528,1913},{87,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,42}</string>
                <key>spriteSourceSize</key>
                <string>{300,42}</string>
                <key>textureRect</key>
                <string>{{797,1544},{300,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>password.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,36}</string>
                <key>spriteSourceSize</key>
                <string>{115,36}</string>
                <key>textureRect</key>
                <string>{{941,1386},{115,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>roomtip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,38}</string>
                <key>spriteSourceSize</key>
                <string>{325,38}</string>
                <key>textureRect</key>
                <string>{{757,1544},{325,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summary/你赢了.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,185}</string>
                <key>spriteSourceSize</key>
                <string>{553,185}</string>
                <key>textureRect</key>
                <string>{{570,1577},{335,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summary/你输了.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,143}</string>
                <key>spriteSourceSize</key>
                <string>{553,185}</string>
                <key>textureRect</key>
                <string>{{769,520},{553,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summary/其他头像外框50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{626,1914},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summary/其他玩家底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,75}</string>
                <key>spriteSourceSize</key>
                <string>{523,75}</string>
                <key>textureRect</key>
                <string>{{921,1},{523,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summary/加倍小.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,31}</string>
                <key>spriteSourceSize</key>
                <string>{56,31}</string>
                <key>textureRect</key>
                <string>{{944,1817},{56,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summary/失败角色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,652}</string>
                <key>spriteSourceSize</key>
                <string>{433,652}</string>
                <key>textureRect</key>
                <string>{{1,1165},{433,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summary/自己头像外框74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{444,1913},{78,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summary/自己灰色底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,132}</string>
                <key>spriteSourceSize</key>
                <string>{615,132}</string>
                <key>textureRect</key>
                <string>{{436,1165},{615,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summary/自己金色底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,132}</string>
                <key>spriteSourceSize</key>
                <string>{615,132}</string>
                <key>textureRect</key>
                <string>{{635,520},{615,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timer_char.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,43}</string>
                <key>spriteSourceSize</key>
                <string>{280,43}</string>
                <key>textureRect</key>
                <string>{{841,1544},{280,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weixinaccount.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,33}</string>
                <key>spriteSourceSize</key>
                <string>{137,33}</string>
                <key>textureRect</key>
                <string>{{987,1090},{137,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>不洗牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{98,92}</string>
                <key>textureRect</key>
                <string>{{444,1819},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>不要.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,57}</string>
                <key>spriteSourceSize</key>
                <string>{106,57}</string>
                <key>textureRect</key>
                <string>{{769,1075},{106,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>你赢了.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,185}</string>
                <key>spriteSourceSize</key>
                <string>{553,185}</string>
                <key>textureRect</key>
                <string>{{570,1577},{335,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>你输了.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,143}</string>
                <key>spriteSourceSize</key>
                <string>{553,185}</string>
                <key>textureRect</key>
                <string>{{769,520},{553,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>其他头像外框50x50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{626,1914},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>其他玩家底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,75}</string>
                <key>spriteSourceSize</key>
                <string>{523,75}</string>
                <key>textureRect</key>
                <string>{{921,1},{523,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>加倍小.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,31}</string>
                <key>spriteSourceSize</key>
                <string>{56,31}</string>
                <key>textureRect</key>
                <string>{{944,1817},{56,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>动作提示.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,134}</string>
                <key>spriteSourceSize</key>
                <string>{134,134}</string>
                <key>textureRect</key>
                <string>{{886,1521},{134,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>失败角色.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,652}</string>
                <key>spriteSourceSize</key>
                <string>{433,652}</string>
                <key>textureRect</key>
                <string>{{1,1165},{433,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>底牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{129,73}</string>
                <key>textureRect</key>
                <string>{{941,1255},{129,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,19}</string>
                <key>spriteSourceSize</key>
                <string>{20,19}</string>
                <key>textureRect</key>
                <string>{{998,262},{20,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,7}</string>
                <key>spriteSourceSize</key>
                <string>{13,7}</string>
                <key>textureRect</key>
                <string>{{871,1826},{13,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{732,1544},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{1002,1817},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{987,1229},{19,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{998,202},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,27}</string>
                <key>spriteSourceSize</key>
                <string>{21,27}</string>
                <key>textureRect</key>
                <string>{{635,1137},{21,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,27}</string>
                <key>spriteSourceSize</key>
                <string>{18,27}</string>
                <key>textureRect</key>
                <string>{{984,1911},{18,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{1002,1847},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,27}</string>
                <key>spriteSourceSize</key>
                <string>{19,27}</string>
                <key>textureRect</key>
                <string>{{998,113},{19,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{561,1979},{19,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{998,23},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,8}</string>
                <key>spriteSourceSize</key>
                <string>{7,8}</string>
                <key>textureRect</key>
                <string>{{1,1989},{7,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/qian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{758,1905},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/wan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{758,1939},{32,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/y_+.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{984,1963},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/y_-.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{13,7}</string>
                <key>spriteSourceSize</key>
                <string>{13,7}</string>
                <key>textureRect</key>
                <string>{{871,1835},{13,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/y_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{664,1137},{19,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/y_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{841,1826},{18,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/y_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{591,1979},{19,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/y_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,28}</string>
                <key>spriteSourceSize</key>
                <string>{17,28}</string>
                <key>textureRect</key>
                <string>{{998,232},{17,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/y_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,28}</string>
                <key>spriteSourceSize</key>
                <string>{21,28}</string>
                <key>textureRect</key>
                <string>{{877,1075},{21,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/y_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{998,142},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/y_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,28}</string>
                <key>spriteSourceSize</key>
                <string>{18,28}</string>
                <key>textureRect</key>
                <string>{{998,172},{18,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/y_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{998,53},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/y_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{694,1137},{19,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/y_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,28}</string>
                <key>spriteSourceSize</key>
                <string>{19,28}</string>
                <key>textureRect</key>
                <string>{{998,83},{19,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/y_dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,9}</string>
                <key>spriteSourceSize</key>
                <string>{7,9}</string>
                <key>textureRect</key>
                <string>{{1011,1386},{7,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>数字/y_qian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{757,1871},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>数字/y_wan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{984,1877},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>斗地主-房间模式.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,160}</string>
                <key>spriteSourceSize</key>
                <string>{410,160}</string>
                <key>textureRect</key>
                <string>{{570,1165},{410,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>斗地主-癞子玩法.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,56}</string>
                <key>spriteSourceSize</key>
                <string>{183,56}</string>
                <key>textureRect</key>
                <string>{{886,1657},{183,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>游客.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{998,1},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>牌-大.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,185}</string>
                <key>spriteSourceSize</key>
                <string>{142,185}</string>
                <key>textureRect</key>
                <string>{{797,1850},{142,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>玩法-经典斗地主.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,56}</string>
                <key>spriteSourceSize</key>
                <string>{227,56}</string>
                <key>textureRect</key>
                <string>{{883,1105},{227,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>玩法-金币.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{984,1940},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>癞子玩法.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{561,1914},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>经典斗地主.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,149}</string>
                <key>spriteSourceSize</key>
                <string>{405,149}</string>
                <key>textureRect</key>
                <string>{{732,1137},{405,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>背-小.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{682,1914},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>自己头像外框74x74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{78,82}</string>
                <key>textureRect</key>
                <string>{{444,1913},{78,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>自己灰色底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,132}</string>
                <key>spriteSourceSize</key>
                <string>{615,132}</string>
                <key>textureRect</key>
                <string>{{436,1165},{615,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>自己金色底框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,132}</string>
                <key>spriteSourceSize</key>
                <string>{615,132}</string>
                <key>textureRect</key>
                <string>{{635,520},{615,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>血战麻将.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,56}</string>
                <key>spriteSourceSize</key>
                <string>{185,56}</string>
                <key>textureRect</key>
                <string>{{883,1334},{185,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>要不起.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,59}</string>
                <key>spriteSourceSize</key>
                <string>{158,59}</string>
                <key>textureRect</key>
                <string>{{944,1657},{158,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>beimi-image-other.png</string>
            <key>size</key>
            <string>{1021,2001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ca156a2857e293e7361a8846bb7210a:214fe00ee17781022484023c77093cfa:440c8843b22384f2ec9f28a9c946e673$</string>
            <key>textureFileName</key>
            <string>beimi-image-other.png</string>
        </dict>
    </dict>
</plist>
